:root {
    --light-red: #f28b82;
    --dark-gray: #444;
    --gray: #ccc;
    --white: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--dark-gray);
}

header {
    background-color: var(--light-red);
    color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form {
    padding: 1rem;


}


fieldset {
    padding: 1rem;
}

label {
    padding: 1rem;
}

.products {
    padding: 1rem;
}

.ratings {
    padding: 1rem;
}


.features {
    padding: 1rem;
}

.item label {
    display: block;
    margin-bottom: 0.1rem;
}


.button {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


footer {
    background-color: var(--light-red);
    color: var(--white);
    text-align: center;
    padding: 1rem;
}